<div class="filled-block">
  <img src="assets/Back.svg" id="back-btn" alt="Back"/>
  <p class="card-title">Soft Boiled</p>
  <div class="animation-block">
    <img id="egg-animation-softboiled" src="assets/1.svg" class="egg-animation"/>
  </div>
  <div id="softboiled-timer" class="timer">4:00</div>
  <div class="timer-controls">
    <button class="timer-btn start" data-type="softboiled">Start</button>
    <button class="timer-btn reset" data-type="softboiled">Reset</button>
  </div>
</div>
<audio id="alarm-sound" src="assets/alarm.mp3" preload="auto" loop></audio>
