<div class="clouds">
  <img id="cloud-1" alt="Cloud" class="cloud cloud-1">
  <img id="cloud-2" alt="Cloud" class="cloud cloud-2">
  <img id="cloud-3" alt="Cloud" class="cloud cloud-3">
  <img id="cloud-4" alt="Cloud" class="cloud cloud-4">
  <img id="cloud-5" alt="Cloud" class="cloud cloud-5">
  <img id="cloud-6" alt="Cloud" class="cloud cloud-6">
  <img id="cloud-7" alt="Cloud" class="cloud cloud-7">
  <img id="cloud-8" alt="Cloud" class="cloud cloud-8">
  <img id="cloud-9" alt="Cloud" class="cloud cloud-9">
  <img id="cloud-10" alt="Cloud" class="cloud cloud-10">
</div>

<div class="text">
  <p class="intro-text">Lets time</p>
  <p class="intro-text">your eggs!</p>
  <button class="start-btn" id="start-btn">Start</button>
</div>