<div class="block">
    <div class="horizontal-block">
        <div class="card" id="softboiled-link">
            <img src="assets/SoftBoiled.svg" class="egg-icon">
            <p class="card-name">Soft Boiled</p>
        </div>
        <div class="card" id="mediumboiled-link">
            <img src="assets/MediumBoiled.svg" class="egg-icon">
            <p class="card-name">Medium Boiled</p>
        </div>
    </div>
    <div class="horizontal-block">
        <div class="card" id="hardboiled-link">
            <img src="assets/HardBoiled.svg" class="egg-icon">
            <p class="card-name">Hard Boiled</p>
        </div>
        <div class="card" id="poached-link">
            <img src="assets/Poached.svg" class="poached-egg-icon">
            <p class="card-name">Poached</p>
        </div>
    </div>
</div>