<div class="filled-block">
  <img src="assets/Back.svg" id="back-btn" alt="Back"/>
  <p class="card-title">Hard boiled</p>
  <div class="animation-block">
    <img id="egg-animation-hardboiled" src="assets/1.svg" class="egg-animation" />
  </div>
  <div id="hardboiled-timer" class="timer">10:00</div>
  <div class="timer-controls">
    <button class="timer-btn start" data-type="hardboiled">Start</button>
    <button class="timer-btn reset" data-type="hardboiled">Reset</button>
  </div>
</div>
<audio id="alarm-sound" src="assets/alarm.mp3" preload="auto" loop></audio>
