<div class="filled-block">
  <img src="assets/Back.svg" id="back-btn" alt="Back"/>
  <p class="card-title">Medium boiled</p>
  <div class="animation-block">
    <img id="egg-animation-mediumboiled" src="assets/1.svg" class="egg-animation" />
  </div>
  <div id="mediumboiled-timer" class="timer">7:00</div>
  <div class="timer-controls">
    <button class="timer-btn start" data-type="mediumboiled">Start</button>
    <button class="timer-btn reset" data-type="mediumboiled">Reset</button>
  </div>
</div>
<audio id="alarm-sound" src="assets/alarm.mp3" preload="auto" loop></audio>
