<div class="filled-block">
  <img id="back" alt="Back"/>
  <p class="card-title">Soft Boiled</p>
  <div class="animation-block">
    <img id="egg-animation-softboiled" class="egg-animation" alt="Softboiled Animation" />
  </div>
  <div id="softboiled-timer" class="timer">4:00</div>
  <div class="timer-controls">
    <button class="timer-btn start" data-type="softboiled">Start</button>
    <button class="timer-btn reset" data-type="softboiled">Reset</button>
  </div>
</div>
<audio id="alarm-sound" preload="auto" loop></audio>
