<div class="clouds">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-1">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-2">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-3">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-4">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-5">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-6">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-7">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-8">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-9">
  <img src="./assets/Cloud.svg" alt="Cloud" class="cloud cloud-10">
</div>

<div class="text">
  <p class="intro-text">Lets time</p>
  <p class="intro-text">your eggs!</p>
  <button class="start-btn" id="start-btn">Start</button>
</div>